* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  display: flex;
  font-size: 40px;
  padding: 5px;
  justify-content: flex-end;

  background-color: black;
  width: 370px;
  height: 95px;
  color: white;
}

#display-input {
  font-family: "Handjet", cursive;
  font-size: 50px;

  margin-top: auto;
  margin-bottom: auto;
  overflow: scroll;
  /* Prevents wrapping to the second line that happens when numbers and operators are used*/
  white-space: nowrap;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome */
#display-input::-webkit-scrollbar {
  display: none;
}

#buttons {
  display: flex;
  width: 370px;
}

#buttons button {
  font-size: 30px;
  font-family: "Handjet", cursive;
  font-weight: 600;

  border: none;
  background: none;

  /* padding: 70px; */
  min-height: 70px;
  min-width: 70px;

  margin: 5px;
}

#buttons button:hover {
  background-color: rgb(231, 231, 231);
}

#buttons button:active {
  background-color: black !important;
  color: white;
}
